@import '../../_variables/theming';

$_is-dark-theme: true;

$_theme-primary-color: $mat-blue;
$_theme-primary-color-base: 800;
$_theme-primary-color-light: 500;
$_theme-primary-color-heavy: 900;

$_theme-primary-accent: $mat-light-blue;
$_theme-primary-accent-base: 300;
$_theme-primary-accent-light: 100;
$_theme-primary-accent-heavy: A400;

$_theme-secondary-color: $mat-blue;
$_theme-secondary-color-base: 600;
$_theme-secondary-color-light: 500;
$_theme-secondary-color-heavy: 700;

$_theme-secondary-accent: $mat-grey;
$_theme-secondary-accent-base: 50;
$_theme-secondary-accent-light: A100;
$_theme-secondary-accent-heavy: 200;

$_theme-tertiary-color: $mat-blue;
$_theme-tertiary-color-base: 700;
$_theme-tertiary-color-light: 600;
$_theme-tertiary-color-heavy: 900;

$_theme-tertiary-accent: $mat-grey;
$_theme-tertiary-accent-base: 50;
$_theme-tertiary-accent-light: A100;
$_theme-tertiary-accent-heavy: 200;

$_theme-surface-color: $mat-gray;
$_theme-surface-color-base: A100;
$_theme-surface-color-light: 100;
$_theme-surface-color-heavy: 600;

@import '../../_variables/material';
@import '../../_variables/root';
