@import '../../_variables/theming';

$_is-dark-theme: false;

$_theme-primary-color: $mat-light-green;
$_theme-primary-color-base: A100;
$_theme-primary-color-light: A200;
$_theme-primary-color-heavy: A700;

$_theme-primary-accent: $mat-light-green;
$_theme-primary-accent-base: 800;
$_theme-primary-accent-light: 600;
$_theme-primary-accent-heavy: 900;

$_theme-secondary-color: $mat-light-green;
$_theme-secondary-color-base: 300;
$_theme-secondary-color-light: A200;
$_theme-secondary-color-heavy: 400;

$_theme-secondary-accent: $mat-grey;
$_theme-secondary-accent-base: 800;
$_theme-secondary-accent-light: 600;
$_theme-secondary-accent-heavy: 900;

$_theme-tertiary-color: $mat-light-green;
$_theme-tertiary-color-base: 200;
$_theme-tertiary-color-light: A200;
$_theme-tertiary-color-heavy: 400;

$_theme-tertiary-accent: $mat-grey;
$_theme-tertiary-accent-base: 800;
$_theme-tertiary-accent-light: 600;
$_theme-tertiary-accent-heavy: 900;

$_theme-surface-color: $mat-gray;
$_theme-surface-color-base: A100;
$_theme-surface-color-light: 100;
$_theme-surface-color-heavy: 600;

@import '../../_variables/material';
@import '../../_variables/root';


